<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}VisKepler{% endblock %}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://d1a3f4spazzrp4.cloudfront.net/kepler.gl/uber-fonts/4.0.0/superfine.css" rel="stylesheet">

  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css" rel="stylesheet">

  {% block extra_css %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}

  <script src="{{ url_for('assets', path='scripts.js') }}"></script>  
  <script src="{{ url_for('assets', path='modal.js') }}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>

